*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Popins", sans-serif;
}
body{
    min-height: 100vh;
    background: #dfe5f5;
    width: 100%;
    overflow: auto;
}
li{
    list-style: none;.
}

.side-menu{
    position: fixed;
    background: black;
    width: 16vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    user-select: none;
}
.side-menu li a{
    font-size: 15px;
    padding: 10px 17px;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    
}
.side-menu li a:hover{
    background: white;
    color: black;
    cursor:pointer;
}
.main{
    margin-left: 245px;
}
header{
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 1.75rem;    
    background-color: black;
    color: white;
    user-select: none;
}


ul{
    list-style-type: none;
    margin-left: 15px;
}
ul li{
    margin: 2px 0;
    font-size: 12px;
}

.text-end{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-start{
    text-align: left;
}
.text-bold{
    font-weight: 700;
}


.container{
    margin-top: 65px;
    margin-left: 315px;
    width:75%;
    height: auto;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.table{
  margin-left:350px;
  height: auto;
  width: 50%;
  position: relative;
  border-collapse: collapse; 
}

td, th {
  border: 1px solid black;
  padding: 10px;
}

.table thead tr th {  
  color: black;
  border-radius: 0;
  position: sticky;
  top: 0;
  padding: 10px;
  font-size: 13px;
}

tfoot > tr  {
  background: black;
  color: white;
}

.text-center{
    
    text-align:center; 
    color:black;
}

.table1{
  margin-left:539px;
  height: auto;
  width: 50%;  
}

.table1 thead tr th {  
  color: black;
  border-radius: 0;
  position: sticky;
  top: 0;
  padding: 10px;
  font-size: 13px;
}
.wrapper{
    display: flex;
}
.wrap{
    display: flex;
}

.wrap .t{
    margin-left: 15px;        
    font-size: 12px;
}

.wrap .t2{
   margin-left: 666px;    
}

.invoice-btn{
    margin-left: 500px;
    background: brown;
    padding: 3px 9px;
    color: white;
    font-family: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.invoice-btn:hover{
    background: red;    
    color: white;

}

